/* Mobile Devices */
@media (max-width: 480px) {
  .nav-right a, button {
    display: none;
  }
  #navbar-container {
    padding: 50px 20px;
  }
  #top-container {
    padding: 50px 20px;
    flex-direction: column;
    text-align: center;
  }
  .top-left h1 {
    font-size: 40px;
  }
  .top-left p {
    font-size: 15px;
  }
  .top-right img {
    width: 350px;
    margin-top: 50px;
  }
}


/* ipads, Tablets */
@media (min-width: 481px) and (max-width: 768px) {
  .nav-right a, button {
    display: none;
  }
  #navbar-container {
    padding: 50px 30px;
  }
  #top-container {
    padding: 50px 30px;
    flex-direction: column;
    text-align: center;
  }
  .top-left h1 {
    font-size: 50px;
  }
  .top-right img {
    width: 450px;
    margin-top: 50px;
  }
}


/* Small screens, laptops */
@media (min-width: 769px) and (max-width: 1024px) {
  .nav-right a, button {
    display: none;
  }
  #navbar-container {
    padding: 50px 40px;
  }
  #top-container {
    padding: 50px 40px;
  }
  #top-container {
    flex-direction: column;
    text-align: center;
  }
  .top-right img {
    width: 500px;
    margin-top: 50px;
  }
}


/* Desktops, large screens */
@media (min-width: 1025px) and (max-width: 1200px) {
  .nav-right a {
    margin-right: 30px;
  }
  #navbar-container i {
    display: none;
  }
  #navbar-container {
    padding: 50px 50px;
  }
  #top-container {
    padding: 50px 50px;
  }
  .top-left h1 {
    font-size: 50px;
  }
  .top-right img {
    width: 500px;
  }
  .top-left p {
    padding-right: 100px;
  }
}


/* Extra large screens, TV */
@media (min-width: 1201px) {
  #navbar-container i {
    display: none;
  }
  #navbar-container {
    padding: 50px 60px;
  }
  #top-container {
    padding: 50px 60px;
  }
  .top-left p {
    padding-right: 100px;
  }
}