/* Mobile Devices */
@media (max-width: 480px) {
  .nav-right a, button {
    display: none;
  }
  #navbar-container {
    padding: 50px 20px;
  }
}


/* ipads, Tablets */
@media (min-width: 481px) and (max-width: 768px) {
  .nav-right a, button {
    display: none;
  }
  #navbar-container {
    padding: 50px 30px;
  }
}


/* Small screens, laptops */
@media (min-width: 769px) and (max-width: 1024px) {
  .nav-right a, button {
    display: none;
  }
  #navbar-container {
    padding: 50px 40px;
  }
}


/* Desktops, large screens */
@media (min-width: 1025px) and (max-width: 1200px) {
  .nav-right a {
    margin-right: 30px;
  }
  #navbar-container i {
    display: none;
  }
  #navbar-container {
    padding: 50px 50px;
  }
}


/* Extra large screens, TV */
@media (min-width: 1201px) {
  #navbar-container i {
    display: none;
  }
  #navbar-container {
    padding: 50px 60px;
  }
}